{
  "env": { "commonjs": true, "es6": true, "node": true },
  "extends": ["airbnb-base"],
  "globals": { "Atomics": "readonly", "SharedArrayBuffer": "readonly" },
  "parserOptions": { "ecmaVersion": 2018 },
  "rules": {
    "strict": [0, "save"],
    "no-plusplus": "off",
    "no-param-reassign":"off",
    "no-console":"off"
  }
}
